In [1]:
import pandas as pd

data = pd.read_csv('C:/Users/j/Desktop/Dataset/hotel_booking.csv')
data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [10]:
data.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card'],
      dtype='object')

In [11]:
data.drop(['lead_time','arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'meal', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
        'name', 'email',
       'phone-number', 'credit_card'],axis=1,inplace = True)

data.head()

,hotel,is_canceled,arrival_date_year,arrival_date_month,adults,children,babies,country,reserved_room_type,assigned_room_type,reservation_status,reservation_status_date
0,Resort Hotel,0,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01
1,Resort Hotel,0,2015,July,2,0.0,0,PRT,C,C,Check-Out,2015-07-01
2,Resort Hotel,0,2015,July,1,0.0,0,GBR,A,C,Check-Out,2015-07-02
3,Resort Hotel,0,2015,July,1,0.0,0,GBR,A,A,Check-Out,2015-07-02
4,Resort Hotel,0,2015,July,2,0.0,0,GBR,A,A,Check-Out,2015-07-03

In [2]:
import numpy as np
data['room_status'] = data[np.data['reserved_room_type']==np.data['assigned_room_type']]

AttributeError: module 'numpy' has no attribute 'data'

In [27]:
count = data['reserved_room_type'].value_counts()
count

reserved_room_type
A    85994
D    19201
E     6535
F     2897
G     2094
B     1118
C      932
H      601
P       12
L        6
Name: count, dtype: int64

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns